@font-face {
    font-family: 'old_english_fiveregular';
    src: url('fonts/old_english_five-webfont.woff2') format('woff2'),
         url('fonts/old_english_five-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 span {
    font-family: 'old_english_fiveregular';
    font-size: 4vw;
}


header {
    font-size: 3vw;
    text-align: center;
    padding: 50px;
    background-color: #000080;
    color: #ffffff;
    border-radius: 3px;
    margin: 0px 10px 100px 10px;
}

.article {
    margin: 0px 10px 0px 10px;
}

.article-header {
    font-weight: bold;
}

.article-body button{
    background-color: #ffffff;
    color: #000;
    border: 0px;
}

.normal {
    font-weight: normal;
}

footer {
    text-align: center;
    padding: 10px;
}